[Unit]
Description=Newbit
After=network.target

[Service]
User=root
WorkingDirectory=/usr/local/newbit/
LimitNOFILE=4096
ExecStart=/usr/bin/python3 bot
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target